{% extends "layout.html.twig" %}

{% block title %}{{ author.username }} - BOOMMZ!{% endblock title %}


{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            <li>
                <a href="{{ url('authors') }}">Tous les auteurs</a>
            </li>
            <li class="is-active" aria-current="page"><a href="#">{{ author.username }}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}

    <div class="section profile-heading">
        <div class="columns is-mobile is-multiline">
            {% if author.avatar %}
            <div class="column is-2">
                <span class="header-icon user-profile-image">
                    <img src="{{ author.avatar.url }}"/>
                </span>
            </div>
            {% endif %}
            <div class="column is-4-tablet is-10-mobile name">
                <h1 class="title is-bold is-marginless">{{ author.username }}</h1>
            </div>
            <div class="column is-2-tablet is-4-mobile has-text-centered">
                <p class="is-size-1 is-block title">{{ author.comics|length }}</p>
                <p class="">BDs!</p>
            </div>
            <div class="column is-2-tablet is-4-mobile has-text-centered">
                <p class="is-size-1 is-block title">{{ author.personas|length }}</p>
                <p class="stat-key">Persos créés</p>
            </div>
            <div class="column is-2-tablet is-4-mobile has-text-centered">
                <p class="is-size-1 is-block title">{{ author.rates|length }}</p>
                <p class="stat-key">BDs notées</p>
            </div>
        </div>
    </div>

    <h2 class="title is-4">Toutes les BDs de {{ author.username }}</h2>

    <section class="page comics">
        <div class="columns is-multiline">
            {% for comic in author.comics %}
                {% include "comic/block.html.twig" with {'small': 1, 'hiddenAuthor': 1} %}
            {% endfor %}
        </div>
    </section>

    <h2 class="title is-4">Les persos créés par {{ author.username }}</h2>

    {% for perso in author.personas %}
        <img src="{{ perso.url }}" />
    {% endfor %}

{% endblock body %}