{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="help is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Tu es déjà identifié comme {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h1 class="title">Identification</h1>
    <div class="field">
        <label class="label">{% trans %}Pseudo{% endtrans %}</label>
        <div class="control has-icons-left has-icons-right">
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus class="input">
            <span class="icon is-small is-left">
                {% include '/svg/user.html.twig' %}
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">{% trans %}Mot de passe{% endtrans %}</label>
        <div class="control has-icons-left has-icons-right">
            <input type="password" name="password" id="inputPassword" required class="input">
            <span class="icon is-small is-left">
                {% include '/svg/lock.html.twig' %}
            </span>
        </div>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-primary">{% trans %}C'est parti !{% endtrans %}</button>
        </div>
    </div>
</form>
{% endblock %}
