{% extends "layout.html.twig" %}

{% form_theme form with ['create/fields_page.html.twig', 'create/fields_box.html.twig', 'create/fields_bubble.html.twig'] %}

{% block body %}

    {{ form_start(form) }}

    <h1 class="title">{% trans %}Crée ta BD{% endtrans %}</h1>

    <div class="field">
        {{ form_label(form.title, 'Titre de ta BD', {'label_attr': {'class': 'label is-medium'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'input is-medium'}}) }}
    </div>

    {% for page in form.pages %}
        {{ form_row(page) }}
    {% endfor %}

    <div class="field is-grouped is-grouped-centered">
        <div class="control">
            <input type="submit" class="button is-primary is-large" value="{% trans %}C'est parti !{% endtrans %}">
        </div>
    </div>

    <div id="actionsPersona" class="actions">
        <div id="slidePersona">
            {% for persona in personas %}
                <div class="item-{{ loop.index }}">
                    <img src="{{ persona.url }}" data-id="{{ persona.id }}" title="{{ persona.name }}" class="persona"/>
                </div>
            {% endfor %}

            {% if app.user %}
                {% for persona in app.user.personas %}
                    <div class="item-{{ personas|length + loop.index }}">
                        <img src="{{ persona.url }}" data-id="{{ persona.id }}" title=""
                             class="persona"/>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="backgrounds" class="is-hidden" data-num="0" data-max="{{ backgrounds|length }}">
        <div data-num="bg-0" data-src="" data-id=""></div>
        {% for bg in backgrounds %}
            <div data-num="{{ loop.index }}" data-src="{{ bg.url }}" data-id="{{ bg.id }}"></div>
        {% endfor %}
    </div>

    {{ form_end(form) }}

    <div id="form_box_proto" class="is-hidden">
        {% include "/create/form_box_proto.html.twig" %}
    </div>

    <div id="form_bubble_proto" class="is-hidden">
        {% include "/create/form_bubble_proto.html.twig" %}
    </div>
    <div id="actionsHidden"></div>
{% endblock body %}
