{% extends "layout.html.twig" %}

{% form_theme form with ['create/fields_page.html.twig', 'create/fields_box.html.twig', 'create/fields_bubble.html.twig'] %}

{% block body %}

    {{ form_start(form) }}

    <h1 class="title">{% trans %}Create comic{% endtrans %}</h1>

    <div class="field">
        {{ form_label(form.title, 'Comic title', {'label_attr': {'class': 'label is-medium'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'input is-medium'}}) }}
    </div>

    {% for page in form.pages %}
        {{ form_row(page) }}
    {% endfor %}

    <div class="field">
        <div class="control">
            <input type="submit" class="button is-primary" value="{% trans %}Submit{% endtrans %}">
        </div>
    </div>

    <div id="actionsPersona" class="actions is-hidden">
        <div>
        {% for persona in personas %}
            <span><img src="{{ persona.url }}" data-id="{{ persona.id }}" title="{{ persona.name }}" /></span>
        {% endfor %}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock body %}