{% extends "layout.html.twig" %}


{% block body %}

    {{ form_start(form) }}
    <h1 class="title">{% trans %}Create comic{% endtrans %}</h1>

    <div class="field">
        {{ form_label(form.title, 'Title', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'input'}}) }}
    </div>

    <ul class="pages" data-prototype="{{ form_widget(form.pages.vars.prototype)|e('html_attr') }}">
        {% for page in form.pages %}
            <li>{{ form_widget(page) }}</li>
        {% endfor %}
    </ul>

    <div class="field">
        <div class="control">
            <button class="button is-primary">{% trans %}Submit{% endtrans %}</button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock body %}