{% block box_row %}
    <div class="column writable cbox is-{{ form.vars.value.size ?? 'one-third' }} h-{{ form.vars.value.height ?? '1' }} {{ ('comic_pages_0_boxes_0' == form.vars.id) ? 'on' : '' }}"
         id="{{ form.vars.id }}">

        <div class="ccolumn"{% if form.vars.value.background %} style="background-image: url({{ form.vars.value.background.url }})"{% endif %}>
            {% if form.vars.value.clone is defined %}
                <div id="clone" class="button is-primary">{% trans %}Clône la case précédente{% endtrans %}</div>
            {% endif %}
            {% for bubble in form.bubbles %}
                {{ form_widget(bubble) }}
            {% endfor %}
        </div>
        {{ form_widget(form.background, { 'attr': { 'class': 'bg'}}) }}
        {{ form_widget(form.orderBox, { 'attr': { 'class': 'orderBox'}}) }}
        {{ form_widget(form.size) }}
        {{ form_widget(form.height) }}

        {% if 'comic_pages_0_boxes_0' == form.vars.id %}
            <div id="actions">
                <div id="actionsBox" class="actions">
                    <div class="button is-light" title="{% trans %}Changer de décor{% endtrans %}" id="changeBackground">
                        {% include "/svg/decor.html.twig" %}
                    </div>
                    <div class="button is-light" title="{% trans %}Ajouter un personnage{% endtrans %}" id="addPersona">
                        {% include "/svg/persona_add.html.twig" %}
                    </div>
                </div>

                <div id="actionsBubble" class="actions">
                    <div class="button is-light" title="{% trans %}Changer de style de la bulle ou la cacher{% endtrans %}" id="styleBubble">
                        {% include "/svg/bubble_style.html.twig" %}
                    </div>
                    <div class="button is-light" title="{% trans %}Supprimer le personnage{% endtrans %}" id="removeBubble">
                        {% include "/svg/persona_remove.html.twig" %}
                    </div>
                </div>

                <div id="actionsLine" class="actions">
                    <div class="button is-light" title="{% trans %}Supprimer cette case{% endtrans %}" id="removeBox"
                         data-box-form="">
                        {% include "/svg/delete.html.twig" %}
                    </div>
                    <div class="button is-light" title="{% trans %}Ajouter une case{% endtrans %}" id="addBox"
                         data-box-form="">
                        {% include "/svg/box_add.html.twig" %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
