{% block box_row %}
    <div class="column writable cbox is-{{ form.vars.value.size ?? 'one-third' }} {{ form.vars.value.level ? 'level':'' }} h-{{ form.vars.value.height ?? '1' }} {{ ('comic_pages_0_boxes_0' == form.vars.id) ? 'on' : '' }}"
         id="{{ form.vars.id }}">
        <div class="ccolumn"{% if form.vars.value.background %} style="{% if form.vars.value.background.color %}background: #{{ form.vars.value.background.color }}{% else %}background-image: url({{ form.vars.value.background.url }}){% endif %}"{% endif %}>
            {% if form.vars.value.clone is defined %}
                <div id="clone" class="button is-primary">{% trans %}Clône la case précédente{% endtrans %}</div>
            {% endif %}
            {% for bubble in form.bubbles %}
                {{ form_widget(bubble) }}
            {% endfor %}
        </div>
        {{ form_widget(form.background, { 'attr': { 'class': 'bg'}}) }}
        {{ form_widget(form.orderBox, { 'attr': { 'class': 'orderBox'}}) }}
        {{ form_widget(form.level, { 'attr': { 'class': 'levelBox'}}) }}
        {{ form_widget(form.size) }}
        {{ form_widget(form.height) }}

        {% if 'comic_pages_0_boxes_0' == form.vars.id %}
            <div id="actions">
                <div id="actionsBox" class="actions">
                    <div class="button is-light" title="{% trans %}Changer de décor{% endtrans %}" id="displayBackground">
                        {% include "/svg/decor.svg.twig" %}
                    </div>
                    <div class="button is-light is-hidden" title="{% trans %}Changer de couleur{% endtrans %}" id="displayColor">
                        {% include "/svg/color.svg.twig" %}
                    </div>
                    <div class="button is-light" title="{% trans %}Ajouter une bulle{% endtrans %}" id="addPersona">
                        {% include "/svg/bubble_add.svg.twig" %}
                    </div>
                    <div class="button is-light" title="{% trans %}Supprimer la bulle{% endtrans %}" id="removeBubble">
                        {% include "/svg/bubble_remove.svg.twig" %}
                    </div>
                    <div class="button is-light" title="{% trans %}Changer de style de la bulle ou la cacher{% endtrans %}" id="styleBubble">
                        {% include "/svg/bubble_style.svg.twig" %}
                    </div>
                    <div class="button is-light" title="{% trans %}ee{% endtrans %}" id="levelBubble">
                        {% include "/svg/bubble_up.svg.twig" %}
                    </div>
                </div>

                <div id="actionsLine" class="actions">
                    <div class="button is-light" title="{% trans %}Supprimer cette case{% endtrans %}" id="removeBox"
                         data-box-form="">
                        {% include "/svg/delete.svg.twig" %}
                    </div>
                    <div class="button is-light" title="{% trans %}Ajouter une case{% endtrans %}" id="addBox"
                         data-box-form="">
                        {% include "/svg/box_add.svg.twig" %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
