{% extends "layout.html.twig" %}

{% block title %}{{ comic.title }}, une BD {% if comic.author %}de {{ comic.author.username }}{% endif %} - BOOMMZ!{% endblock title %}
{% block metas %}
    {% if comic.screen %}
        <meta property="og:image"
              content="https://boommz.com/{{ comic.urlScreen }}fb-{{ comic.rewritten }}-{{ comic.id }}.png"/>
    {% endif %}
{% endblock metas %}

{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            <li><a href="{{ url(comicContest.routeName, comicContest.routeParams) }}">{{ comicContest.title }}</a></li>
            <li class="is-active" aria-current="page"><a href="#">{{ comic.title }}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1 class="title is-marginless">{{ comic.title }}</h1>
    <h2 class="title is-size-5 is-marginless is-italic"> une participation au concours "<a href="{{ url(comicContest.routeName, comicContest.routeParams) }}">{{ comicContest.title }}</a>"</h2>
    {% if comic.author %}
        <div class="media comic-infos">
            <div class="media-left">
                <figure class="image circle">
                    <img src="{{ comic.author.avatar.urlHead }}" alt="{{ comic.author.username }}" />
                </figure>
            </div>
            <div class="media-content">
                <a href="{{ url('author', comic.author.routeParams) }}"
                   class="has-text-dark is-size-6 is-marginless">{{ comic.author.username }}</a><br/>
                <span class="has-text-grey	is-size-7">{{ comic.dateCreation|localizeddate('long', 'short') }}</span>
            </div>
        </div>
    {% endif %}

    <div class="edit-comic">
        {% if app.user and comic.author and comic.author.id == app.user.id %}
            <a href="{{ url('comic_edit', comic.routeParams) }}" class="button is-primary is-outlined is-small">
            <span class="icon is-small fa-2x">
              {% include "svg/comic_edit.html.twig" %}
            </span>
                <span>Edite ta BD</span>
            </a>
        {% endif %}

        <div class="button share is-hidden is-primary is-outlined is-small">
        <span class="icon is-small fa-2x">
          {% include "svg/share.html.twig" %}
        </span>
            <span>Partage!</span>
        </div>
    </div>

    {% for page in comic.pages %}
        <section class="page">
            {% if page.title %}<h2 class="subtitle">{{ page.title }}</h2>{% endif %}
            <div class="columns is-multiline">
                {% if comic.comicContest is defined %}
                    {% include "comic/block_boxes.html.twig" with { 'boxes': comic.comicContest.pages.0.boxes } %}
                {% endif %}

                {% include "comic/block_boxes.html.twig" with { 'boxes': page.boxes } %}
            </div>
        </section>
    {% endfor %}

    {% include "comic/block_rating.html.twig" %}

    <hr/>

    {% include "comment/block_comments.html.twig" %}

    {% if comicContest.comics %}
        <hr/>
        <h2 class="title is-4 title-green">Les autres BDs du concours "{{ comicContest.title }}"</h2>
        <section class="page comics opacity">
            <div class="columns is-multiline">
                {% for item in comicContest.comics if item.id != comic.id %}
                    {% include "comic/block.html.twig" with {'comic': item, 'small': 1} %}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% if comic.author and comic.author.comics|length > 1 %}
        <hr/>
        <h2 class="title is-4 title-gold">Les autres BDs de {{ comic.author.username }}</h2>
        <section class="page comics opacity">
            <div class="columns is-multiline">
                {% for item in comic.author.comics if item.id != comic.id %}
                    {% include "comic/block.html.twig" with {'comic': item, 'small': 1, 'hiddenAuthor': 0} %}
                {% endfor %}
            </div>
        </section>
    {% endif %}


{% endblock body %}
