{% extends "layout.html.twig" %}
{% block title %}{% if currentPage > 1 %}Les BDs du moment - Page {{ currentPage }}{% else %}Toutes les BDs sont sur Boomz!{% endif %}{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            {% if currentPage > 1 %}
                <li><a href="{{ url('comics') }}">{% trans %}Toutes les BDs{% endtrans %}</a></li>
                <li class="is-active" aria-current="page"><a href="#">Page {{ currentPage }}</a></li>
            {% else %}
                <li class="is-active" aria-current="page"><a href="#">{% trans %}Toutes les BDs{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1 class="title">Toutes les BDs{% if currentPage > 1 %} - Page {{ currentPage }}{% endif %}</h1>
    <section class="page comics">
        <div class="columns is-multiline">
            {% for comic in comics %}
                {% include "comic/block.html.twig" with {'small': (((currentPage is defined and currentPage > 0) or loop.index0 >2) ? 1 : 0), 'color': cycle(['odd', ''], loop.index0)} %}
            {% endfor %}
        </div>
    </section>

    {% include "pagination/page.html.twig" %}

{% endblock body %}