{% extends "layout.html.twig" %}

{% block title %}{{ persona.alias ?? persona.name }}{% if persona.job %}, {{ persona.job}}{% endif %} - pixel art - Boomz!{% endblock title %}
{% block metadescription %}{{ persona.alias ?? persona.name }}, en pixel art. {{ comic.contestDescription|raw|striptags }}{% endblock metadescription %}

{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            <li>
                <a href="{{ url('characters') }}">Tous les personnages</a>
            </li>
            <li class="is-active" aria-current="page"><a href="#">{{ persona.alias ?? persona.name }}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="columns wiki">
        <div class="column is-narrow c-left is-hidden-touch">
            <img src="/build/images/wiki.png" alt="wikiboommz" />
        </div>
        <div class="column">
            <div class="content">
                <h1 class="title is-bold is-marginless">{{ persona.alias ?? persona.name }}</h1>
                <hr class="is-marginless"/><br/>
                <p>Aussi connu sous le nom de {{ persona.name }}.</p>
                {{ persona.description|raw }}
                {% if persona.biography %}
                    <h2 class="title is-bold is-marginless is-size-4">Biographie</h2>
                    <hr class="is-marginless"/><br/>
                    {{ persona.biography|raw }}
                {% endif %}
            </div>

            {% if comics %}
                <h2 class="title is-4">Toutes les BDs avec {{ persona.alias ?? persona.name }}</h2>

                <section class="page comics">
                    <div class="columns is-multiline">
                        {% for comic in comics %}
                            {% include "comic/block.html.twig" with {'medium' : true} %}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

        </div>
        <div class="column is-narrow c-right">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ persona.alias ?? persona.name }}
                    </p>
                </header>
                <figure class="card-image">
                    <img src="{{ persona.url }}" alt="{{ persona.name }}" />
                </figure>
                <div class="card-content">
                    <table class="table">
                        <tbody>
                        {% if persona.birthday %}
                        <tr class="is-size-7">
                            <th>Naissance</th>
                            <td class="has-text-link">{{ persona.birthday|localizeddate('medium', 'none') }}</td>
                        </tr>
                        {% endif %}
                        {% if persona.nationality %}
                        <tr class="is-size-7">
                            <th>Nationalité</th>
                            <td class="has-text-link">{{ persona.nationality }}</td>
                        </tr>
                        {% endif %}
                        {% if persona.job %}
                        <tr class="is-size-7">
                            <th>Profession</th>
                            <td class="has-text-link">{{ persona.job }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}