{% extends "layout.html.twig" %}
{% block title %}Tous les persos | Boomz!{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            <li>
                <a href="{{ url('charactes') }}">{% trans %}Tous les persos{% endtrans %}</a>
            </li>
            <li class="is-active" aria-current="page"><a href="#">{% trans %}Tous les persos{% endtrans %}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1 class="title is-size-4 title-gold">Toutes les starz</h1>
    <div class="content">
        {% for persona in stars %}
            <a href="{% if persona.routeParams %}{{ url('boommzer', persona.routeParams) }}{% endif %}">
                <img src="{{ persona.url }}" title="{{ persona.name }}" alt="{{ persona.name }}" />
            </a>
        {% endfor %}
    </div>

    <h2 class="title is-size-4 title-gold">Tous les persos</h2>
    <div class="content">
        {% for persona in personas %}
            <a href="{% if persona.routeParams %}{{ url('boommzer', persona.routeParams) }}{% endif %}">
                <img src="{{ persona.url }}" title="{{ persona.name }}" alt="{{ persona.name }}" />
            </a>
        {% endfor %}
    </div>
{% endblock body %}