{% extends "layout.html.twig" %}
{% block title %}Création de personnages | Boomz!{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            <li>
                <a href="{{ url('charactes') }}">{% trans %}Tous les persos{% endtrans %}</a>
            </li>
            <li class="is-active" aria-current="page"><a href="#">{% trans %}Crée tes persos{% endtrans %}</a></li>

        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1 class="title is-size-4 title-gold">{% trans %}Crée tes persos{% endtrans %}</h1>

    <div id="boommzcreator">
        {{ form_start(form) }}

            {% include "persona/form.html.twig" %}

        <div class="field is-grouped is-grouped-centered">
            {% if form.save %}
                <div class="control">
                {{ form_widget(form.save) }}
                </div>
            {% endif %}

            {% if form.add %}
                <div class="control">
                    {{ form_widget(form.add) }}
                </div>
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>

    <h2 class="title is-size-4 title-green">Tous mes persos</h2>
    <div class="content">
        <p>Clique sur un perso pour le modifier ou créer une variante.</p>
    </div>
    <div class="has-text-centered">
        {% for persona in app.user.personas %}
            <a href="{{ url('character_edit', { 'id': persona.id}) }}"><img src="{{ persona.url }}"/></a>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('persona') }}
{% endblock javascripts %}