{% extends "layout.html.twig" %}

{% block body %}


    {% for comic in comics %}
        <a href="{{ url('comic', comic.routeParams) }}" class="title">{{ comic.title }}</a>
        {% for page in comic.pages %}
            <section class="page">
                <div class="columns is-multiline">

                    {% for box in page.boxes|slice(0, 3) %}
                        <div class="column is-{{ box.size ?? 'one-quarter' }} {{ cycle(['c-1', 'c-2', ''], loop.index0) }} h-{{ box.height }}">
                            <div {% if box.background %}style="background-image: url({{ box.background }})"{% endif %}
                                 class="ccolumn">
                                {% for bubble in box.bubbles %}
                                    <blockquote
                                            class="{{ bubble.classes }} b-{{ loop.index0 }}"
                                            style="{{ bubble.x ? 'botttom:' ~ bubble.y ~ 'px;' : '' }}{{ bubble.y ? 'left:' ~ bubble.x ~ 'px' : '' }}">
                                        {{ bubble.text }}
                                        {% if bubble.persona %}
                                            <footer><img src="{{ bubble.persona.url }}"
                                                         alt="{{ bubble.persona.name }}"/></footer>
                                        {% endif %}
                                    </blockquote>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    {% endfor %}


{% endblock body %}
