{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% spaceless %}{% block title %}{% trans %}Boumz! Be funny, make comics !{% endtrans %}{% endblock %}{% endspaceless %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% spaceless %}{% block metadescription %}{% endblock metadescription %}{% endspaceless %}" />
    <meta property="og:title" content="{% spaceless %}{{ block('title') }}{% endspaceless %}" />
    <meta property="og:description" content="{% spaceless %}{{ block('metadescription') }}{% endspaceless %}" />
    <meta property="og:image" content="{% block og_image %}{% endblock %}" />
    <meta property="og:type" content="{% block og_type %}article{% endblock %}" />
    <meta property="og:url" content="{% block og_url %}{{ app.request.uri }}{% endblock %}" />
    <meta name="twitter:site" content="@BoumzComics">
    <meta name="twitter:title" content="{% spaceless %}{{ block('title') }}{% endspaceless %}">
    <meta name="twitter:description" content="{% spaceless %}{{ block('metadescription') }}{% endspaceless %}">
    <meta name="twitter:image" content="{% spaceless %}{{ block('og_image') }}{% endspaceless %}">
    {% block metas %}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/png" href="logo.png" />
    <link rel="icon" sizes="192x192" href="favicon192x192.png">

</head>

<body class="{% block body_class %}{% endblock body_class %}">

<header>
    <nav class="navbar navbar-fixed-top sb-slide">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <b class="fa fa-bars sb-toggle-left visible-xs-block"></b>
                <a href="{{ url('homepage') }}">
                    <img src="{{ asset('images/p/Others/SuperBoumz.png') }}" />
                </a>
            </div>

            <ul class="nav navbar-nav text-uppercase">
                {% if  app.user  %}
                    <li{% if  app.request.attributes.get('_route') == 'boommz_comic_create' %} class="active"{% endif %}><a href="">{% trans %}Create a comic{% endtrans %}</a></li>
                {% endif %}
                <li{% if  app.request.attributes.get('_route') == 'boommz_comics' or app.request.attributes.get('_route') == 'boommz_comics_popular' or app.request.attributes.get('_route') == 'boommz_comic' %} class="active"{% endif %}><a href="">{% trans %}All comics{% endtrans %}</a></li>
                {% if  app.user  %}
                    <li{% if  app.request.attributes.get('_route') == 'boommz_characters_create' %} class="active"{% endif %}><a href="">{% trans %}Create characters{% endtrans %}</a></li>
                {% endif %}
</ul>


</div>
</nav>
</header>
<div id="sb-site">
<div id="content" class="container"{% block microdata %}{% endblock microdata %}>
{% block body %}{% endblock body %}
</div>
</div>

<footer>
<div class="container">
<div class="row">
<div class="col-sm-4">
Boumz! © 2015 ·
{% for locale in locales %}
    <a href="{{ url('homepage', {'_locale': locale}) }}"{% if app.request.locale == locale %} class="on"{% endif %}>{{ locale }}</a> ·
{% endfor %}
</div>
<div class="col-sm-4">
{% block footer %}{% endblock footer %}
</div>
<div class="col-sm-4">
<h3>Retrouvez nous chez d'autres super-héros</h3>
<a href="https://www.facebook.com/BoumzComics" target="_blank" class="s f"><img src="http://fr.boommz.com/images/p/Others/fbMan.png" /></a>
<a href="https://twitter.com/BoumzComics" target="_blank" class="s t"><img src="http://fr.boommz.com/images/p/Others/TwitterMan.png" /></a>
</div>
</div>
</div>
</footer>
<div class="sb-slidebar sb-left"></div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-61678023-1', 'auto');
ga('send', 'pageview');
</script>

{% block javascripts %}
{% endblock javascripts %}
</body>
</html>
