{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% spaceless %}{% block title %}{% trans %}Boommz! Be funny, make comics !{% endtrans %}{% endblock %}{% endspaceless %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% spaceless %}{% block metadescription %}{% endblock metadescription %}{% endspaceless %}" />
    <meta property="og:title" content="{% spaceless %}{{ block('title') }}{% endspaceless %}" />
    <meta property="og:description" content="{% spaceless %}{{ block('metadescription') }}{% endspaceless %}" />
    <meta property="og:image" content="{% block og_image %}{% endblock %}" />
    <meta property="og:type" content="{% block og_type %}article{% endblock %}" />
    <meta property="og:url" content="{% block og_url %}{{ app.request.uri }}{% endblock %}" />
    <meta name="twitter:site" content="@BoumzComics">
    <meta name="twitter:title" content="{% spaceless %}{{ block('title') }}{% endspaceless %}">
    <meta name="twitter:description" content="{% spaceless %}{{ block('metadescription') }}{% endspaceless %}">
    <meta name="twitter:image" content="{% spaceless %}{{ block('og_image') }}{% endspaceless %}">
    {% block metas %}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/png" href="logo.png" />
    <link rel="icon" sizes="192x192" href="favicon192x192.png">

</head>

<body class="{% block body_class %}{% endblock body_class %}">
<section class="hero is-fullheight is-default is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="{{ asset('build/images/boommzcom.png') }}" alt="BOOMMZ!">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                <li {% if app.request.attributes.get('_route') == 'homepage' %} class="is-active"{% endif %}><a>Home</a></li>
                                <li{% if  app.request.attributes.get('_route') == 'comics' %} class="is-active"{% endif %}><a href="{{ url('comics') }}">{% trans %}Comics{% endtrans %}</a></li>
                                <li{% if  app.request.attributes.get('_route') == 'comic_create' %} class="is-active"{% endif %}><a href="{{ url('comic_create') }}">{% trans %}Create comic{% endtrans %}</a></li>
                                {% if is_granted ( 'IS_AUTHENTICATED_REMEMBERED' )  %}
                                    <li>
                                    {% trans with {'%username%': app.user.username} %}Welcome %username% !{% endtrans %}
                                    </li>
                                {% else %}
                                <li{% if  app.request.attributes.get('_route') == 'app_register' %} class="is-active"{% endif %}><a href="{{ url('app_register') }}">{% trans %}Sign up{% endtrans %}</a></li>
                                <li{% if  app.request.attributes.get('_route') == 'fos_user_security_login' %} class="is-active"{% endif %}><a href="{{ url('fos_user_security_login') }}">{% trans %}Sign in{% endtrans %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="body">
        <div class="container">
            {% block body %}{% endblock body %}
        </div>
    </div>

    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a>And this is the bottom</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock javascripts %}
</body>
</html>
