{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% spaceless %}{% block title %}{% trans %}Boommz! Fais des super BDs !{% endtrans %}{% endblock %}{% endspaceless %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% spaceless %}{% block metadescription %}{% endblock metadescription %}{% endspaceless %}"/>
    <meta property="fb:app_id" content="2537519843181823"/>
    <meta property="og:title" content="{% spaceless %}{{ block('title') }}{% endspaceless %}"/>
    <meta property="og:description" content="{% spaceless %}{{ block('metadescription') }}{% endspaceless %}"/>
    {% block metas %}{% endblock metas %}
    <meta property="og:type" content="{% block og_type %}article{% endblock %}"/>
    <meta property="og:url" content="{% block og_url %}{{ app.request.uri }}{% endblock %}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@Boommz_Comics" />
    <meta name="theme-color" content="#259543"/>
    <link rel="apple-touch-icon" href="/build/images/logo-192.png">
    <link rel="manifest" href="/manifest.json">
    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
    {% endblock %}

    <script type="application/ld+json">
        {% block jsonld %}
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "http://boommz.com/"
        }
        {% endblock jsonld %}
    </script>
</head>

<body class="{% block body_class %}{% endblock body_class %}">
<div id="installContainer" class="is-hidden">
    <button id="butInstall" type="button">
        Install
    </button>
</div>

<section class=" is-default is-bold">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url('homepage') }}">
                    <img src="{{ asset('build/images/boommz-com.png') }}" alt="BOOMMZ!">
                </a>

                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="tabs is-right">
                        <ul>
                            <li {% if app.request.attributes.get('_route') == 'homepage' %} class="is-active"{% endif %}>
                                <a href="{{ url('homepage') }}">Accueil</a></li>
                            <li{% if  app.request.attributes.get('_route') == 'comics' or app.request.attributes.get('_route') == 'comic' %} class="is-active"{% endif %}>
                                <a href="{{ url('comics') }}">{% trans %}Toutes les BDs{% endtrans %}</a></li>
                            <li{% if  app.request.attributes.get('_route') == 'comic_create' %} class="is-active"{% endif %}>
                                <a href="{{ url('comic_create') }}">{% trans %}Crée ta BD!{% endtrans %}</a></li>
                            <li{% if  app.request.attributes.get('_route') == 'character_create' %} class="is-active"{% endif %}>
                                <a href="{{ url('character_create') }}#boommzcreator">{% trans %}Crée tes persos{% endtrans %}</a>
                            </li>
                            {% if is_granted ( 'IS_AUTHENTICATED_REMEMBERED' ) %}
                                <li>
                                    {% trans with {'%username%': app.user.username} %}Bienvenue %username% !{% endtrans %}
                                </li>
                            {% else %}
                                <li{% if  app.request.attributes.get('_route') == 'fos_user_security_login' %} class="is-active"{% endif %}>
                                    <a href="{{ url('fos_user_security_login') }}"
                                       class="login">{% trans %}S'identifier{% endtrans %}</a></li>
                                <li{% if  app.request.attributes.get('_route') == 'app_register' %} class="is-active"{% endif %}>
                                    <a href="{{ url('app_register') }}"
                                       class="register">{% trans %}S'inscrire{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="body">
        <div class="container">
            {% block breadcrumb %}{% endblock breadcrumb %}

            {% block body %}{% endblock body %}
        </div>
    </div>
</section>

<div class="tabbar is-hidden-tablet">
    <ul>
        <li{% if  app.request.attributes.get('_route') == 'comics' or app.request.attributes.get('_route') == 'comic' %} class="is-active"{% endif %}>
            <a href="{{ url('homepage') }}">
                <img src="{{ asset('build/images/home.png') }}" alt="Accueil" title="{% trans %}Accueil!{% endtrans %}"/>
                <span>Accueil</span>
            </a>
        </li>
        <li{% if  app.request.attributes.get('_route') == 'comics' or app.request.attributes.get('_route') == 'comic' %} class="is-active"{% endif %}>
            <a href="{{ url('comics') }}">
                <img src="{{ asset('build/images/comic.png') }}" alt="Toutes les Bds" title="{% trans %}Toutes les BDs!{% endtrans %}"/>
                <span>Les BDs</span>
            </a>
        </li>
        <li{% if  app.request.attributes.get('_route') == 'comic_create' %} class="is-active"{% endif %}>
            <a href="{{ url('comic_create') }}">
                <img src="{{ asset('build/images/create-comic.png') }}" alt="Créer une BD!" title="{% trans %}Créer une BD!{% endtrans %}"/>
                <span>Crée une BD</span>
            </a>
        </li>
        <li{% if  app.request.attributes.get('_route') == 'character_create' %} class="is-active"{% endif %}>
            <a href="{{ url('character_create') }}">
                <img src="{{ asset('build/images/avatar.png') }}" alt="Créer un avatar" title="{% trans %}Créer un avatar!{% endtrans %}"/>
                <span>Crée persos</span>
            </a>
        </li>
    </ul>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>BOOMMZ! Créé des super BDs</strong> by Nicolas Deve & Jean-Yves Lemesle
        </p>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock javascripts %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61678023-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-61678023-1');
</script>

</body>
</html>
