{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% spaceless %}{% block title %}{% trans %}Boommz! Be funny, make comics !{% endtrans %}{% endblock %}{% endspaceless %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% spaceless %}{% block metadescription %}{% endblock metadescription %}{% endspaceless %}" />
    <meta property="fb:app_id" content="2537519843181823" />
    <meta property="og:title" content="{% spaceless %}{{ block('title') }}{% endspaceless %}" />
    <meta property="og:description" content="{% spaceless %}{{ block('metadescription') }}{% endspaceless %}" />
    {% block metas %}{% endblock metas %}
    <meta property="og:type" content="{% block og_type %}article{% endblock %}" />
    <meta property="og:url" content="{% block og_url %}{{ app.request.uri }}{% endblock %}" />
    <link rel="manifest" href="/manifest.json">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock body_class %}">
<section class="hero is-default is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="{{ asset('build/images/boommzcom.png') }}" alt="BOOMMZ!">
                    </a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                <li {% if app.request.attributes.get('_route') == 'homepage' %} class="is-active"{% endif %}><a href="{{ url('homepage') }}">Home</a></li>
                                <li{% if  app.request.attributes.get('_route') == 'comics' or app.request.attributes.get('_route') == 'comic' %} class="is-active"{% endif %}><a href="{{ url('comics') }}">{% trans %}Comics{% endtrans %}</a></li>
                                <li{% if  app.request.attributes.get('_route') == 'comic_create' %} class="is-active"{% endif %}><a href="{{ url('comic_create') }}">{% trans %}Create comic{% endtrans %}</a></li>
                                <li{% if  app.request.attributes.get('_route') == 'character_create' %} class="is-active"{% endif %}><a href="{{ url('character_create') }}">{% trans %}Create character{% endtrans %}</a></li>
                                {% if is_granted ( 'IS_AUTHENTICATED_REMEMBERED' )  %}
                                    <li>
                                    {% trans with {'%username%': app.user.username} %}Welcome %username% !{% endtrans %}
                                    </li>
                                {% else %}
                                <li{% if  app.request.attributes.get('_route') == 'app_register' %} class="is-active"{% endif %}><a href="{{ url('app_register') }}">{% trans %}Sign up{% endtrans %}</a></li>
                                <li{% if  app.request.attributes.get('_route') == 'fos_user_security_login' %} class="is-active"{% endif %}><a href="{{ url('fos_user_security_login') }}">{% trans %}Sign in{% endtrans %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="body">
        <div class="container">
            {% block breadcrumb %}{% endblock breadcrumb %}

            {% block body %}{% endblock body %}
        </div>
    </div>

    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a>And this is the bottom</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="tabbar is-hidden-tablet">
    <ul>
        <li {% if app.request.attributes.get('_route') == 'homepage' %} class="is-active"{% endif %}><a href="{{ url('homepage') }}">{% include "/svg/home.html.twig" %}</a></li>
        <li{% if  app.request.attributes.get('_route') == 'comics' or app.request.attributes.get('_route') == 'comic' %} class="is-active"{% endif %}><a href="{{ url('comics') }}">{% include "/svg/bubble_style.html.twig" %}</a></li>
        <li{% if  app.request.attributes.get('_route') == 'comic_create' %} class="is-active"{% endif %}><a href="{{ url('comic_create') }}">{% include "/svg/bubble_add.html.twig" %}</a></li>
        <li{% if  app.request.attributes.get('_route') == 'character_create' %} class="is-active"{% endif %}><a href="{{ url('character_create') }}">{% include "/svg/persona_add.html.twig" %}</a></li>
        {% if is_granted ( 'IS_AUTHENTICATED_REMEMBERED' )  %}
            <li>
                {% trans with {'%username%': app.user.username} %}Welcome %username% !{% endtrans %}
            </li>
        {% else %}
            <li{% if  app.request.attributes.get('_route') == 'app_register' %} class="is-active"{% endif %}><a href="{{ url('app_register') }}">{% trans %}Sign up{% endtrans %}</a></li>
            <li{% if  app.request.attributes.get('_route') == 'fos_user_security_login' %} class="is-active"{% endif %}><a href="{{ url('fos_user_security_login') }}">{% trans %}Sign in{% endtrans %}</a></li>
        {% endif %}
    </ul>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock javascripts %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61678023-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-61678023-1');
</script>

</body>
</html>
