<div class="column cbox {% if small is defined and small %}is-one-quarter{% elseif medium is defined %}is-one-third{% else %}is-one-third h-1{% endif %}{{ comic.contest ? ' contest' : '' }}">
    <div class="ccbox {{ color }} {% if not(comic.datePublication) %} draft{% endif %}">
        <a href="{{ url(comic.routeName, comic.routeParams) }}" {% if comic.pages.0.boxes.0.background %}style="{% if comic.pages.0.boxes.0.background.color %}background: #{{ comic.pages.0.boxes.0.background.color }}{% else %}background-image: url({{ comic.pages.0.boxes.0.background }}){% endif %}"{% endif %}
             class="ccolumn">

            {% for bubble in comic.pages.0.boxes.0.bubbles %}
                <blockquote
                        class="{{ bubble.classes }} b-{{ loop.index0 }}"
                        style="{{ bubble.x ? 'botttom:' ~ bubble.y ~ 'px;' : '' }}{{ bubble.y ? 'left:' ~ bubble.x ~ 'px' : '' }}">
                    <p>{{ bubble.text }}</p>
                    {% if bubble.persona %}
                        <footer><img src="{{ bubble.persona.url }}" alt="{{ bubble.persona.name }}"/>
                        </footer>
                    {% endif %}
                </blockquote>
            {% endfor %}
        </a>
        {% include "comic/block_infos.html.twig" %}
    </div>
</div>