{% for box in boxes %}
    <div class="column cbox is-{{ box.size ?? 'one-quarter' }} {{ cycle(['c-1', 'c-2', ''], loop.index0) }} h-{{ box.height }} {{ box.level ? 'lvl':'' }}">
        <div {% if box.background %}style="{% if box.background.color %}background: #{{ box.background.color }}{% else %}background-image: url({{ box.background }}){% endif %}"{% endif %}
             class="ccolumn">
            {% for bubble in box.bubbles %}
                <blockquote
                        class="{{ bubble.classes }}">
                    <p>{{ bubble.text }}</p>


                    {% if bubble.persona %}
                        <footer><img src="{{ bubble.persona.url }}" alt="{{ bubble.persona.name }}"/></footer>
                    {% endif %}
                </blockquote>
            {% endfor %}
        </div>
    </div>
{% endfor %}