{% extends "layout.html.twig" %}

{% block title %}{{ comic.title }} - BOOMMZ!{% endblock title %}

{% block body %}
    <style>
        .hero-head, .hero-foot, .tabbar {
            display: none;
        }

        section.hero, .container {
            width: 450px;
            max-width: 450px;
        }

        .page .column {
            display: block;
            width: 100%;
        }
    </style>

    <section class="page">
        <div class="columns is-multiline">
            {% for box in comic.pages.0.boxes|slice(0, 3) %}
                <div class="column is-{{ box.size ?? 'one-quarter' }} {{ cycle(['c-1', 'c-2', ''], loop.index0) }} h-{{ box.height }}">
                    <div {% if box.background %}style="background-image: url({{ box.background }})"{% endif %}
                         class="ccolumn">
                        {% for bubble in box.bubbles %}
                            <blockquote
                                    class="{{ bubble.classes }} b-{{ loop.index0 }}"
                                    style="{{ bubble.x ? 'botttom:' ~ bubble.y ~ 'px;' : '' }}{{ bubble.y ? 'left:' ~ bubble.x ~ 'px' : '' }}">
                                {{ bubble.text }}
                                {% if bubble.persona %}
                                    <footer><img src="{{ bubble.persona.url }}" alt="{{ bubble.persona.name }}"/>
                                    </footer>
                                {% endif %}
                            </blockquote>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <div style="width: 100%;text-align: center">
        <img src="{{ asset('/build/images/logo.png') }}">
    </div>
{% endblock body %}
