{% extends "layout.html.twig" %}

{% block title %}{{ comic.title }} - BOOMMZ!{% endblock title %}
{% block og_image %}{% if comic.imageUrl %}{{ comic.imageUrl('share') }}{% endif %}{% endblock og_image %}
{% block metas %}
    {% if url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) != url('comic', comic.routeParams) %}
        <link rel="canonical" href="{{ url('comic', comic.routeParams) }}"/>
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
{% endblock metas %}

{% block body %}

    <h1 class="title">{{ comic.title }}</h1>
    {% if comic.author %}
    <h2 class="subtitle">{{ comic.author.username }}</h2>
    {% endif %}
    {% for page in comic.pages %}
        <section class="page">
            {% if page.title %}<h2 class="subtitle">{{ page.title }}</h2>{% endif %}
            <div class="columns is-multiline">

                {% for box in page.boxes %}
                    <div class="column is-{{ box.size ?? 'one-quarter' }} {{ cycle(['c-1', 'c-2', ''], loop.index0) }} h-{{ box.height }}">
                        <div {% if box.background %}style="background-image: url({{ box.background }})"{% endif %} class="ccolumn">
                            {% for bubble in box.bubbles %}
                                <blockquote
                                        class="{{ bubble.classes }} b-{{ loop.index0 }}"
                                        style="{{ bubble.x ? 'botttom:' ~ bubble.y ~ 'px;' : '' }}{{ bubble.y ? 'left:' ~ bubble.x ~ 'px' : '' }}">
                                    {{ bubble.text }}
                                    {% if bubble.persona %}
                                        <footer><img src="{{ bubble.persona.url }}" alt="{{ bubble.persona.name }}" /></footer>
                                    {% endif %}
                                </blockquote>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}

{% endblock body %}
